json file/My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PickBuddy",
        "formDescription": "PickBuddy! Designed for modern eCommerce, it ensures every visitor sees the right product at the right time.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "FirstName"
            },
            {
              "fieldLabel": "Lastname"
            },
            {
              "fieldLabel": "Email ID",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Select Category of Your Choice",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Electronics"
                  },
                  {
                    "option": "Audio"
                  },
                  {
                    "option": "Accessories"
                  },
                  {
                    "option": "Skincare"
                  },
                  {
                    "option": "Sports "
                  },
                  {
                    "option": "Kitchen"
                  },
                  {
                    "option": "Pet Supplies"
                  }
                ]
              }
            },
            {
              "fieldLabel": "What's Your Budget?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": ">3000"
                  },
                  {
                    "option": "<3000"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -272,
        -64
      ],
      "id": "8a9d9591-41d4-4819-a8af-a61c543c44d0",
      "name": "On form submission",
      "webhookId": "b208ade9-e18a-42f2-ae95-0d7e27378ad0"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rc5TpiabEBcGXtrTG3aycD6wFw6mKloDgJ82QBPE77s",
          "mode": "list",
          "cachedResultName": "Train_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rc5TpiabEBcGXtrTG3aycD6wFw6mKloDgJ82QBPE77s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rc5TpiabEBcGXtrTG3aycD6wFw6mKloDgJ82QBPE77s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -240
      ],
      "id": "b83d57a9-40a0-4ec3-af61-8ed720947cc8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "77yUxq057GDYBKLo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LyBq0N1wEymAYrQJXZwhaiXSxV1WNaG6jYqTWxTFdEc",
          "mode": "list",
          "cachedResultName": "Customer Record",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LyBq0N1wEymAYrQJXZwhaiXSxV1WNaG6jYqTWxTFdEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LyBq0N1wEymAYrQJXZwhaiXSxV1WNaG6jYqTWxTFdEc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FirstName": "={{ $json.FirstName }}",
            "Lastname": "={{ $json.Lastname }}",
            "Email ID": "={{ $json['Email ID'] }}",
            "Select Category of Your Choice": "={{ $json['Select Category of Your Choice'] }}",
            "What's Your Budget?": "={{ $json['What\\'s Your Budget?'] }}",
            "submittedAt": "={{ $json.submittedAt }}"
          },
          "matchingColumns": [
            "Email ID"
          ],
          "schema": [
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Select Category of Your Choice",
              "displayName": "Select Category of Your Choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "What's Your Budget?",
              "displayName": "What's Your Budget?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        112
      ],
      "id": "07fcef84-27ac-4f19-affc-036fa2e39f8f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "77yUxq057GDYBKLo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "910d53b5-9963-430f-8198-f47a85d6f41f",
              "leftValue": "={{ $json.Category }}",
              "rightValue": "={{ $('On form submission').item.json['Select Category of Your Choice'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5692520b-6557-492f-a9ed-dd7d8c34e757",
              "leftValue": "={{ $('On form submission').item.json['What\\'s Your Budget?'] }}",
              "rightValue": "={{ $json.budget }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -48
      ],
      "id": "8621f87b-9cb1-4488-9f36-399dd5efe227",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1_thdOZTJSigJu1jkuyw4yVEJyRx5o1gU7DyYmdFKenA",
          "mode": "list",
          "cachedResultName": "delete_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_thdOZTJSigJu1jkuyw4yVEJyRx5o1gU7DyYmdFKenA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_thdOZTJSigJu1jkuyw4yVEJyRx5o1gU7DyYmdFKenA/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        112
      ],
      "id": "28a8880f-6a4a-4c80-aa66-cbf2983f8681",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "77yUxq057GDYBKLo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all matching products from the input\nconst items = $input.all();\n\n// Format as a carousel JSON\nconst carousel = {\n  type: \"carousel\",\n  items: items.map(item => ({\n    title: item.json[\"Product Name\"],\n    subtitle: `${item.json.Category} | Price: $${item.json.Price}`,\n    image_url: item.json[\"Image URL\"],\n    buttons: [\n      {\n        type: \"web_url\",\n        url: item.json[\"Image URL\"], // could link to product page instead\n        title: \"View Product\"\n      }\n    ]\n  }))\n};\n\n// Return formatted JSON\nreturn [{ json: carousel }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -240
      ],
      "id": "29cdfc3c-7165-4c61-886d-b753ad065565",
      "name": "Code"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "FirstName": "Meshack",
          "Lastname": "Yesudas",
          "Email ID": "meshack@gmail.com",
          "Select Category of Your Choice": "Accessories",
          "What's Your Budget?": ">3000",
          "submittedAt": "2025-09-02T22:26:04.880+05:30",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f2bfde2-4055-4b85-b8bc-bb555a353115",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e643ae442b4942b91cc75d4dbebdb6d33f0711b85c36e0ac69be38d19300b75"
  },
  "id": "Z8LVtFVrkd9zcags",
  "tags": []
}